.blended {
  background-image: linear-gradient(to bottom right, pink, aqua);
}
.offers-phone {
  text-align: center;
}
.offers-phone p {
  display: inline-block;
}
#phone-number {
  display: block;
  position: absolute;
  left: 15%;
  top: 0;
}
#deal {
  display: block;
  position: absolute;
  top:0;
  left: 50%;
}
.search {
  display: block;
  position: absolute;
  top:0;
  right: 15%;
  margin-top: 16px;
  margin-bottom: 16px;
}
.catagories {
  display: block;
  position: absolute;
  top: 5%;
left: 15%;
}
#hoodieslink {
  padding:15px;
}
#teeslink {
  padding:15px;
}
#sweatshirtslink {
  padding:15px;
}
#bottomslink {
  padding: 15px;
}
#shoeslink {
  padding: 15px;
}
#hatslink {
  padding: 15px;
}
#accessorieslink {
  padding: 15px;
}
#aboutlink {
  padding: 15px;
}
#bloglink {
  padding: 15px;
}
#cartlink {
  padding: 15px;
}
